<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Earth Window</title>
  </head>
  <body>
    <h1>Welcome to the Milky Way Solar System</h1>
    <h2>Home System for Planet Earth</h2h2>
      <br>
      <br>
   <button><a href="/Planets">Start discovering how planets behave in this Orion Cluster</a></button>
  </body>
</html>